
html{
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.page-header{
  background-color: lightblue;
  background-image: url('/img/pattern.png');
  background-repeat: repeat-x;
}

.img-header{
  width: 20%;
  height: auto;
  align-items: center;
}

.p-main{
  font-size: small;
}

em{
  font-style: normal;
  color: blue;
}

thead{
  background-color: rgb(57, 163, 199);
}

th{
  text-align: left;
  color: white;
}

table{
  border: 1px ;
  width: 100%;
  margin-bottom: 2%;
}

.tbody-1{
  background-color: rgb(210, 200, 200);
}

.tbody-3{
  background-color: rgb(210, 200, 200);
}

footer{
  height: 20%;
  background-color: rgba(55, 55, 136, 0.722);
  text-align: center;
  padding: 2px;
}

.p-footer{
  color:white
}